<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condelu Meals</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        html.scroll-hide *::-webkit-scrollbar-thumb {
            background-color: rgb(4.25, 4.25, 4.25);
        }
        html.scroll-hide *::-webkit-scrollbar-track {
            background-color: rgb(4.25, 4.25, 4.25);
        }
    </style>
</head>
<body data-barba="wrapper">

<script type="text/javascript">
    document.getElementsByTagName("html")[0].classList.add("scroll-hide");
</script>

<link rel="stylesheet" href="/styles/pagetransition.css">
<div id="page-transition-container" style="display: flex;">
    <div id="page-transition-left" class="page-transition-panel"></div>
    <div id="page-transition-right" class="page-transition-panel"></div>
    <h1 id="page-transition-title" style="visibility: hidden;">Condelu Meals</h1>
</div>

<link rel="stylesheet" href="/styles/constants.css">

<script src="/js/preloader.js"></script>

<script src="/js/animations.js"></script>

<script type="text/javascript">
    let account;
</script>


<div id="header-container">
    <div id="header-link-container">
        <a href="/" style="display: none;" class="link-hover">Home</a>
        <a href="/menu" style="display: none;" class="link-hover">Menu</a>
        <a href="/cart" style="display: none;" class="link-hover">Order</a>
        <a href="/account" style="display: none;" class="link-hover">Account</a>
        <a href="/references" style="display:none;" class="link-hover">Reference Page</a>
        <button id="header-show-button" data-headeropen="false" onclick="headerButtonClick()"><i class="fa-solid fa-bars"></i></button>
        <a id="header-cart-icon" class="header-no-remove" href="/cart" data-activetime="inactive" data-hover="false">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="cart-item-count">0</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
                <circle cx="50" cy="50" r="50" stroke="#00B837"
                        fill="none"
                        stroke-width="8"
                        style="stroke-dasharray: 80;"/>
            </svg>
        </a>
    </div>
    <div id="header-account-icon" data-hover="false">
        <a href="/account">
            <img id="header-account-icon-image" th:src="${headerpicturelink}" alt="account icon" onerror="this.src='/images/default-avatar-icon.jpg';">
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="50" stroke="#00B837"
                    fill="none"
                    stroke-width="8"
                    style="stroke-dasharray: 80;"/>
        </svg>
    </div>
</div>

<div id="branding-container">
    <a href="/" id="branding-desktop"><h1>Condelu Meals</h1></a>
    <a href="/" id="branding-mobile"><i class="fa-solid fa-house"></i></a>
</div>

<div id="mobile-header-popup">
    <a href="/"><h1>Home</h1></a>
    <a href="/menu"><h1>Menu</h1></a>
    <a href="/cart"><h1>Order</h1></a>
    <a href="/account"><h1>Account</h1></a>
    <a href="/#collaborate-container"><h1>Careers</h1></a>
    <a href="/references"><h1>Reference Page</h1></a>
</div>



<div class="barba-container" id="barba-container" data-barba="container" data-barba-namespace="page" data-page="references">


    <script th:inline="javascript">
        /*<![CDATA[*/
        account = /*[[${account}]]*/ 'noaccount';
        /*]]>*/
    </script>



    <div id="site-content-references" class="site-content" data-title="References">

        <div id="copyright-checklist-container">
            <h1 id="copyright-checklist-header" class="reference-header">Documents</h1>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1ekc60etn4lSZUZTrrH7M3MuVrBis96yE/view?usp=drive_link">Student Copyright Checklist</a>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1Og15ubM8ZCMr4ONGQmuUCA5Z2AgJ9Zom/view?usp=drive_link">Work Log Page 1</a>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1eLSeMIJvwMx-arCryugymggroMc3Nuob/view?usp=drive_link">Work Log Page 2</a>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1oPCWa7QGpbyjK_WWaXN13riJf731UiUD/view?usp=drive_link">Work Log Page 3</a>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1DFcCurpLx7B8P97hs-yqlmlIfU2WTCj1/view?usp=drive_link">Work Log Page 4</a>
            <a class="breakable link-hover" href="https://drive.google.com/file/d/1Km5HIgNRDkKKd7YBqS1zGjfy6VisTnGV/view?usp=drive_link">Work Log Page 5</a>
        </div>

        <div id="info-citations-container">
            <h1 id="info-citations-header" class="reference-header">Citations: Information</h1>
            <p>Fonticons Inc. <italics>Font Awesome.</italics> <a class="breakable link-hover" href="https://fontawesome.com/">fontawesome.com/</a></p>
            <p>VMWare Tanzu. <italics>Spring Boot.</italics> <a class="breakable link-hover" href="https://docs.spring.io/spring-boot/index.html">docs.spring.io/spring-boot/index.html</a></p>
            <p><italics>Thymeleaf.</italics> <a class="breakable link-hover" href="https://www.thymeleaf.org/documentation.html">www.thymeleaf.org/documentation.html</a></p>
            <p><italics>Sass.</italics> <a class="breakable link-hover" href="https://sass-lang.com/">sass-lang.com/</a></p>
            <p>Webflow. <italics>GSAP.</italics> <a class="breakable link-hover" href="https://gsap.com/docs/v3/">gsap.com/docs/v3/</a></p>
            <p>Webflow. <italics>GSAP ScrollTrigger.</italics> <a class="breakable link-hover" href="https://gsap.com/docs/v3/Plugins/ScrollTrigger/">gsap.com/docs/v3/Plugins/ScrollTrigger/</a></p>
            <p><italics>Barba.js.</italics> <a class="breakable link-hover" href="https://barba.js.org/docs/getstarted/intro/">barba.js.org/docs/getstarted/intro/</a></p>
        </div>

        <div id="images-citations-container">
            <h1 id="images-citations-header" class="reference-header">Citations: Images</h1>
            <p>Fonticons Inc. <italics>Font Awesome.</italics> <a class="breakable link-hover" href="https://fontawesome.com/">fontawesome.com/</a></p>
            <p>Boj, Joanna. “Man Standing Beside Espresso Maker.” <italics>Unsplash</italics>, 6 May 2015, <a class="breakable link-hover" href="https://unsplash.com/photos/man-standing-beside-espresso-maker-MhOoD_h90ks">unsplash.com/photos/man-standing-beside-espresso-maker-MhOoD_h90ks.</a></p>
            <p>Primeau, Nadine. “Caesar Salad.” <italics>Unsplash</italics>, 27 Apr. 2019, <a class="breakable link-hover" href="https://unsplash.com/photos/caesar-salad-Juvw-a-RvvI">unsplash.com/photos/caesar-salad-Juvw-a-RvvI.</a></p>
            <p>Cacahuate, Perro. <italics>Delicious French Toast with Mixed Berries</italics>, 17 Dec. 2024. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/delicious-french-toast-with-mixed-berries-29815278/">www.pexels.com/photo/delicious-french-toast-with-mixed-berries-29815278/.</a></p>
            <p>First, Leeloo The. <italics>sliced Croissant beside a Cheese. </italics>13 Oct. 2020. <italics>Pexels. </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/sliced-croissant-beside-a-cheese-5594477/">www.pexels.com/photo/sliced-croissant-beside-a-cheese-5594477/.</a></p>
            <p>K, Wolfram. <italics>Two Strawberry Soft Served Filled Cups With Cookie Toppings. </italics>14 Feb. 2018. <italics>Pexels. </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/two-strawberry-soft-served-filled-cups-with-cookie-toppings-874163/">www.pexels.com/photo/two-strawberry-soft-served-filled-cups-with-cookie-toppings-874163/.</a></p>
            <p>Pixabay. <italics>Smooties With Berries. </italics>5 June 2017. <italics>Pexels. </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/smooties-with-berries-434295/">www.pexels.com/photo/smooties-with-berries-434295/.</a></p>
            <p>Scramgnon, Bruno. <italics>Bowl of Cereal With Raisins. </italics>27 Sept. 2017. <italics>Pexels. </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/bowl-of-cereal-with-raisins-596133/">www.pexels.com/photo/bowl-of-cereal-with-raisins-596133/.</a></p>
            <p>Singhai, Samarth. <italics>Burger With Sunny-side Up on White Surface. </italics>9 May 2019. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/burger-with-sunny-side-up-on-white-surface-2293537/">www.pexels.com/photo/burger-with-sunny-side-up-on-white-surface-2293537/.</a></p>
            <p>Tankilevitch, Polina. <italics>Close Up Shot of Waffles on the Plate. </italics>8 Apr. 2020. <italics>Pexels. </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/close-up-shot-of-waffles-on-the-plate-4109465/">www.pexels.com/photo/close-up-shot-of-waffles-on-the-plate-4109465/.</a></p>
            <p>Villamizar, Andres. <italics>Gourmet Bagel Sandwich with Flower Garnish. </italics>17 Dec. 2024. <a class="breakable link-hover" href="https://www.pexels.com/photo/gourmet-bagel-sandwich-with-flower-garnish-29813773/">www.pexels.com/photo/gourmet-bagel-sandwich-with-flower-garnish-29813773/.</a></p>
            <p>Boltneva, Valeria. <italics>Delicious Cheesecake with Berry Sauce and Fresh Fruits. </italics>5 Dec. 2024. <a class="breakable link-hover" href="https://www.pexels.com/photo/delicious-cheesecake-with-berry-sauce-and-fresh-fruits-29653155/">www.pexels.com/photo/delicious-cheesecake-with-berry-sauce-and-fresh-fruits-29653155/.</a></p>
            <p>Khebou, Angela. <italics>Glasses with Creamy Dessert. </italics>7 Sept. 2022. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/glasses-with-creamy-dessert-13554342/">www.pexels.com/photo/glasses-with-creamy-dessert-13554342/.</a></p>
            <p>Free, Sara. <italics>Homemade Banana Bread with Coffee and Syrup. </italics>8 Nov. 2024. <a class="breakable link-hover" href="Https://Www.Pexels.Com/Photo/Homemade-Banana-Bread-with-Coffee-and-Syrup-29318423/">Www.Pexels.Com/Photo/Homemade-Banana-Bread-with-Coffee-and-Syrup-29318423/.</a></p>
            <p>Odintsov, Roman. <italics>Person Holding a Sliced of Strawberry Pie. </italics>23 Jan. 2021. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/person-holding-a-sliced-of-strawberry-pie-6574539/">www.pexels.com/photo/person-holding-a-sliced-of-strawberry-pie-6574539/.</a></p>
            <p>Bulbul, Hilal. <italics>Top View of an Apple Pie. </italics>11 July 2022. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/top-view-of-an-apple-pie-12782728/">www.pexels.com/photo/top-view-of-an-apple-pie-12782728/.</a></p>
            <p>Elliott, Taryn. “White Ceramic Bowl With Food.” <italics>Pexels, </italics>29 May 2020, <a class="breakable link-hover" href="https://www.pexels.com/photo/white-ceramic-bowl-with-food-5107161/">www.pexels.com/photo/white-ceramic-bowl-with-food-5107161/.</a></p>
            <p>Boltneva, Valeria. “Fries and Dipping Sauce.” <italics>Pexels, </italics>28 Jan. 2019, <a class="breakable link-hover" href="https://www.pexels.com/photo/fries-and-dipping-sauce-1893555/">www.pexels.com/photo/fries-and-dipping-sauce-1893555/.</a></p>
            <p>Tankilevitch, Polina. “Delicious Red Cherries with Stems on White Bowl.”<italics>Pexels, </italics>2 July 2020, <a class="breakable link-hover" href="https://www.pexels.com/photo/delicious-red-cherries-with-stems-on-white-bowl-4828502/">www.pexels.com/photo/delicious-red-cherries-with-stems-on-white-bowl-4828502/.</a></p>
            <p>Đặng, Ánh. <italics>A Bowl with Watermelon, a Book and a Glass of Water on a Table. </italics>18 Apr. 2023. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/a-bowl-with-watermelon-a-book-and-a-glass-of-water-on-a-table-16446090/">www.pexels.com/photo/a-bowl-with-watermelon-a-book-and-a-glass-of-water-on-a-table-16446090/.</a></p>
            <p>Boltneva, Valeria. “Raspberries in a Bowl.” <italics>Pexels, </italics>3 June 2024, <a class="breakable link-hover" href="https://www.pexels.com/photo/raspberries-in-a-bowl-26151087/">www.pexels.com/photo/raspberries-in-a-bowl-26151087/.</a></p>
            <p>NIkolova, Snejina. <italics>A Bowl of Strawberries Placed on Top of a Wooden Chopping Board, </italics>28 Mar. 2020, <a class="breakable link-hover" href="https://www.pexels.com/photo/a-bowl-of-strawberries-placed-on-top-of-a-wooden-chopping-board-4316281/">www.pexels.com/photo/a-bowl-of-strawberries-placed-on-top-of-a-wooden-chopping-board-4316281/.</a></p>
            <p>Fotios, Lisa. “Basil Leaves and Avocado on Sliced Bread on White Ceramic Plate.” <italics>Pexels, </italics>23 Aug. 2018, <a class="breakable link-hover" href="https://www.pexels.com/photo/basil-leaves-and-avocado-on-sliced-bread-on-white-ceramic-plate-1351238/">www.pexels.com/photo/basil-leaves-and-avocado-on-sliced-bread-on-white-ceramic-plate-1351238/.</a></p>
            <p>Simsar, Irfan. <italics>a glass of water on a table in front of a window. </italics>13 Dec. 2021. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/a-glass-of-water-on-a-table-in-front-of-a-window-eXZ-iELlt1Y">unsplash.com/photos/a-glass-of-water-on-a-table-in-front-of-a-window-eXZ-iELlt1Y.</a></p>
            <p>Miller, Valeriia. <italics>a woman’s hand holding a cup of coffee. </italics>28 Mar. 2024. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/a-womans-hand-holding-a-cup-of-coffee-KPqnrggdRFU">unsplash.com/photos/a-womans-hand-holding-a-cup-of-coffee-KPqnrggdRFU.</a></p>
            <p>Tubens, Crystal. <italics>clear drinking glass with brown liquid. </italics>29 Sept. 2020. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/clear-drinking-glass-with-brown-liquid-CCowelQ2pLw">unsplash.com/photos/clear-drinking-glass-with-brown-liquid-CCowelQ2pLw.</a></p>
            <p>Sundaran, Sanoop. <italics>a glass pitcher of tea sitting on top of a wooden table. </italics>13 Feb. 2022. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/a-glass-pitcher-of-tea-sitting-on-top-of-a-wooden-table-ZtOXQtyb3pw">unsplash.com/photos/a-glass-pitcher-of-tea-sitting-on-top-of-a-wooden-table-ZtOXQtyb3pw.</a></p>
            <p>Nualsate, Srattha. <italics>A Purple Colored Drink with Ice Cubes in a Glass. </italics>26 July 2022. <italics>Pexels, </italics><a class="breakable link-hover" href="https://www.pexels.com/photo/a-purple-colored-drink-with-ice-cubes-in-a-glass-12987518/">www.pexels.com/photo/a-purple-colored-drink-with-ice-cubes-in-a-glass-12987518/.</a></p>
            <p>Hajare, Abhishek. <italics>orange juice in clear drinking glass. </italics>16 Sept. 2020. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/orange-juice-in-clear-drinking-glass-kkrXVKK-jhg">unsplash.com/photos/orange-juice-in-clear-drinking-glass-kkrXVKK-jhg.</a></p>
            <p>Jiang, Elana.<italics>A mason jar filled with liquid sitting on top of a wooden bench. </italics>5 July 2024. <italics>Unsplash, </italics><a class="breakable link-hover" href="https://unsplash.com/photos/a-mason-jar-filled-with-liquid-sitting-on-top-of-a-wooden-bench-EnfQqaEEmkA">unsplash.com/photos/a-mason-jar-filled-with-liquid-sitting-on-top-of-a-wooden-bench-EnfQqaEEmkA.</a></p>
            <p>Akyurt, Engin. “Pasta With Green Leaf And Chili Pepper.” <italics>Pexels, </italics>29 Sept. 2018, <a class="breakable link-hover" href="https://www.pexels.com/photo/pasta-with-green-leaf-and-chili-pepper-1460872/">www.pexels.com/photo/pasta-with-green-leaf-and-chili-pepper-1460872/.</a></p>
            <p>Studio, Cottonbro. “Pasta Spaghetti.” <italics>Pexels, </italics>2 Apr. 2020, <a class="breakable link-hover" href="https://www.pexels.com/photo/food-texture-pasta-spaghetti-4057701/">www.pexels.com/photo/food-texture-pasta-spaghetti-4057701/.</a></p>
            <p>Nilov, Mikhail. “Woman Eating Healthy Food.” <italics>Pexels, </italics>6 Feb. 2021, <a class="breakable link-hover" href="https://www.pexels.com/photo/woman-eating-healthy-food-6740528/">www.pexels.com/photo/woman-eating-healthy-food-6740528/.</a></p>
            <p>Quintero, Luis. “Rice in Bowl.” <italics>Pexels, </italics>30 Jan. 2023, <a class="breakable link-hover" href="https://www.pexels.com/photo/rice-in-bowl-15362105/">www.pexels.com/photo/rice-in-bowl-15362105/.</a></p>
            <p>Studio, Cottonbro. “Person Pouring Seasoning on Green Beans on Bowl.” <italics>Pexels, </italics>5 Dec. 2019, <a class="breakable link-hover" href="https://www.pexels.com/photo/person-pouring-seasoning-on-green-beans-on-bowl-3338497/">www.pexels.com/photo/person-pouring-seasoning-on-green-beans-on-bowl-3338497/.</a></p>
            <p>Winkler, Markus. “Vegetable Salad on White Plate.” <italics>Pexels, </italics>29 Aug. 2019, <a class="breakable link-hover" href="https://www.pexels.com/photo/vegetable-salad-on-white-plate-2862154/">www.pexels.com/photo/vegetable-salad-on-white-plate-2862154/.</a></p>
            <p>Pixabay. “Soup on White Ceramic Soup Bowl.” <italics>Pexels, </italics>22 Oct. 2016, <a class="breakable link-hover" href="https://www.pexels.com/photo/soup-on-white-ceramic-soup-bowl-209540/">www.pexels.com/photo/soup-on-white-ceramic-soup-bowl-209540/.</a></p>
            <p>Nati. “Pear and Cheese Pizza Decorated with Arugula Lying on a Plate.” <italics>Pexels, </italics>26 Oct. 2023, <a class="breakable link-hover" href="https://www.pexels.com/photo/pear-and-cheese-pizza-decorated-with-arugula-lying-on-a-plate-18888411/">www.pexels.com/photo/pear-and-cheese-pizza-decorated-with-arugula-lying-on-a-plate-18888411/.</a></p>
            <p>Odintsov, Roman. “Pizza With Green and White Vegetables.” <italics>Pexels, </italics>16 Nov. 2020, <a class="breakable link-hover" href="https://www.pexels.com/photo/pizza-with-green-and-white-vegetables-5903095/">www.pexels.com/photo/pizza-with-green-and-white-vegetables-5903095/.</a></p>
            <p>Sh, Nadin. “Roasted Toast with Scrambled Eggs Inside.” <italics>Pexels, </italics>28 Mar. 2023, <a class="breakable link-hover" href="https://www.pexels.com/photo/roasted-toast-with-scrambled-eggs-inside-16119654/">www.pexels.com/photo/roasted-toast-with-scrambled-eggs-inside-16119654/.</a></p>
            <p>Lakhotia, Kunal. “Grilled Sandwiches with Dipping Sauce.” <italics>Pexels, </italics>12 Dec. 2024, <a class="breakable link-hover" href="https://www.pexels.com/photo/grilled-sandwiches-with-dipping-sauce-29747752/">www.pexels.com/photo/grilled-sandwiches-with-dipping-sauce-29747752/.</a></p>
            <p><italics></italics><a class="breakable link-hover" href="">.</a></p>












        </div>

    </div>
</div>



</body>


<!-- scripts and files loaded last -->
<script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">

<link rel="stylesheet" href="/styles/core.css">

<script src="/js/header.js"></script>
<script src="/js/home.js"></script>
<script src="/js/item_cart_handling.js"></script>
<script src="/js/account.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/order.js"></script>
<script src="/js/signon.js"></script>
<script src="/js/view_cart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/@barba/core" type="text/javascript"></script>


</html>