#site-content-menu {
  #menu-banner {
    width: 100%;
    height: 8vh;
    padding-bottom: 5vh;
    padding-top: 10vh;
    top: 0;
    background: $secondary;
    z-index: 1;
    will-change: transform, opacity;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    h1 {
      text-align: center;
      padding-left: 5vw;
    }
    @media (width <= 380px) {
      h1 {
        display: none;
      }
    }
    #menu-search-bar {
      flex: 1;
      margin-left: 5vw;
      margin-right: 5vw;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: end;
      gap: 3vw;
      max-width: 20em;

      #search-bar-label {
        font-size: 2em;
        color: $accent;
        cursor: pointer;
        width: 1em;
      }

      #search-bar-input {
        flex: 1;
        border-bottom: 1px solid $accent !important;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0.5em;
        background: none !important;
        font-family: $paragraphFamily;
        outline: none !important;
        color: $primary;
        transition: color 1s ease-in-out;
      }
      #search-bar-input::placeholder {
        color: darken($primary, 5%);
      }
    }
  }

  @import 'menu/menu_category_selected';

  @import 'menu/menu_item_display';


  #menu-search-items-container {
    position: fixed;
    display: none;
    width: 100%;
    top: 23vh;
    height: 77vh;
    z-index: 1;
    background: transparentize($secondary, 0.05);
    align-items: center;
    justify-content: center;
    #menu-search-results-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: start;
      overflow-y: scroll;
      gap: 5vh;
      width: 60%;
      height: 70vh;
      padding: 1em;
      border-left: 1px solid $accent;
      border-right: 1px solid $accent;
      overflow-x: hidden;
      .menu-search-result {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: start;
        gap: 2vh;
        width: 100%;
        height: 15vh;
        border-radius: 1em;
        transition: background 0.5s ease-in-out;
        cursor: pointer;
        .menu-search-result-image-container {
          aspect-ratio: 5/4;
          height: 15vh;
          max-width: 100%;
          border-radius: 1em;
          img {
            width: 100%;
            height: 100%;
            border-radius: 1em;
            object-fit: cover;
          }
        }
        .menu-search-result-info {
          flex: 1;
          height: 15vh;
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: start;
          min-width: 0;
          overflow-y: hidden;
          .menu-search-result-info-title {
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
          }
          .flex-break {
            height: 0;
            flex-basis: 100%;
          }
        }
      }
      .menu-search-result:hover {
        background: darken($accent, 5%);
      }
    }
    @media (width <= 900px) {
      #menu-search-results-container {
        width: 80%;
      }
    }
    @media (width <= 750px) {
      #menu-search-results-container {
        width: 100%;
      }
    }
    @media (width <= 600px) {
      .menu-search-result-info-title {
        font-size: 2em !important;
      }
      .menu-search-result-image-container {
        aspect-ratio: 4/5 !important;
      }
    }
    @media (width <= 475px) {
      .menu-search-result-info-title {
        font-size: 1.5em !important;
      }
    }


  }
}


@import 'additemoverlay';